<p>In the previous example, three different stylesheets were being referenced on the page.</p>

%snippet:stylesheet%

<p>All three stylesheets will apply to the page, and some of them may override or extend others.</p>

<p>This is known as cascading behavior.</p>

<p>overrides using color, extending using %, etc.</p>

<p>you can break cascading behavior using specificity (provide link), but proceed with caution</p>