<p>CSS is a programming language used to describe the presentation, layout, and behavior of XML-based documents.</p>

<p>CSS by Example is a non-exhaustive overview of CSS and its affect on HTML elements.</p>

<p>Use this site as a reference for key concepts about CSS. Links to external resources will be provided in each module when applicable.</p>

<p>Inspired by <a href="https://gobyexample.com/">Go by Example</a> and <a href="https://javascriptbyexample.com/">JavaScript by Example</a></p>

<ul>
  %routes%
</ul>

<hr />

<p>By <a href="https://github.com/evenstephenr">Stephen Ramirez</a> | <a href="privacy">Privacy</a></p>