<p>CSS selectors are codified patterns you can use to refer to elements in a document.</p>

<p>We commonly use selectors to refer to - or 'target' - HTML elements by their tag name, or by their %highlight:class% or %highlight:id% attribute.</p>

<p>Example below.</p>

%stylesheet:selectors%

<p>Some key concepts to understand about selectors, shown in the previous example:</p>

<ul>
  <li>Selectors are declared independently, and are not nested</li>
  <li>Selectors are ignored if they are targeting elements that do not exist</li>
  <li>Selectors are read left-to-right</li>
  <li>Compound selectors must fully match the targeted elements to take effect</li>
</ul>

<p>Selectors take effect in the order they are listed in an HTML document. This is referred to as cascading behavior. More on this later.</p>

<p>Also later we will cover more complex selectors - such as combinators, attribute selectors, and pseudo-selectors - that we can use to get really granular with our targeting.</p>

<p>Here's a more in-depth guide to <a href="https://www.w3schools.com/cssref/css_selectors.asp">CSS selectors</a>

%next:stylesheet%