<p>A CSS stylesheet is a set of CSS rules that will apply to the current document.</p>

<p>CSS rules are composed of selector groups, their nested properties, and their property values.</p>

<p>Here's an example of a basic stylesheet</p>

%stylesheet:stylesheet%

<p>CSS files have the extension %highlight:.css%.</p>

<p>You can import a CSS file in a html document using the %highlight:&#60;link&#62;% tag, or declare styles inline using the %highlight:&#60;style&#62;% tag in a HTML %highlight:&#60;head&#62;%.</p>

%snippet:stylesheet%

<p>Either method will apply your stylesheet to your document.</p>

%next:cascading%