<p>When working with CSS, units help describe the expression of values. Here are some examples.</p>

<p>Pixel units</p>
<ul>
  <li>%highlight:px% - raw pixel count</li>
  <li>%highlight:&#37;% - a ratio of the maximum pixel count available</li>
  <li>%highlight:dpi% - pixel density, expressed as a numeric ratio (100 -> 1, 25 -> .25)</li>
</ul>

<p>Typography units</p>
<ul>
  <li>%highlight:em% - raw pixel count</li>
  <li>%highlight:rem% - a ratio of the maximum pixel count</li>
  <li>%highlight:ch% - a ratio of the maximum pixel count</li>
</ul>

<p>Viewport units</p>
<ul>
  <li>%highlight:vh% - viewport width, expressed as a numeric ratio (100 -> 1, 50 -> .5)</li>
  <li>%highlight:vw% - viewport width, expressed as a numeric ratio (100 -> 1, 50 -> .5)</li>
</ul>

<p>Distance units</p>
<ul>
  <li>%highlight:s% - seconds</li>
  <li>%highlight:deg% - degrees, expressed as a numeric ratio (360 -> 1, 45 -> .25)</li>
</ul>

<p>Units are contextual, and only apply to specific values of specific properties of specific HTML elements. Bear with me.</p>

<p>In this site, we will cover some commonly used values for commonly used properties, after we are introduced to some core concepts.</p>

<p>Further Reading: <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units">(MDN) CSS building blocks</a></p>

%next:values%