<p>CSS values are typically declared using a primitive data type, and in some cases, a unit is required in order to determine specific behavior.</p>

<p>CSS values are:</p>
<ul>
  <li>written in plain english</li>
  <li>hyphenated</li>
  <li>all lowercase (except for some special cases!)</li>
</ul>

<p>Here are some primitive CSS types we will go over in this site (note: some of these include units, and some don't):</p>
<ul>
  <li>numbers - %highlight:75&#37;%, %highlight:-25px%</li>
  <li>keywords - %highlight:inline-block%, %highlight:initial%</li>
  <li>strings - %highlight:"Times New Roman"% (not always lowercase!)</li>
  <li>hex codes - %highlight:#004455%</li>
  <li>functions - %highlight:rgb(172, 23, 45)%, %highlight:calc(100&#37; - 20px)%</li>
  <li>etc.</li>
</ul>

<p>CSS values map to CSS properties.</p>

%next:properties%
